In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_file = 'Resources/backer_info.csv'
backer_df = pd.read_csv(backers_file, sep='/n')
backer_df.head()

C:\Users\brend\AppData\Local\Temp\ipykernel_12464\3195410492.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  backer_df = pd.read_csv(backers_file, sep='/n')

                                                                                                          backer_info
0        "{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}"
1        "{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}"
2          "{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}"
3  "{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}"
4               "{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}"

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [3]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [4]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

backer_df['backer_id'] = backer_df['backer_info'].str.extract('(\D{2}\d{3})')
backer_df

,backer_info,backer_id
0,"""{""""backer_id"""": """"av166"""", """"cf_id"""": 968, """"name"""": """"Angelo Vincent"""", """"email"""": """"avincent@live.com""""}""",av166
1,"""{""""backer_id"""": """"ha127"""", """"cf_id"""": 563, """"name"""": """"Hubert Arnold"""", """"email"""": """"harnold@yandex.com""""}""",ha127
2,"""{""""backer_id"""": """"lg794"""", """"cf_id"""": 65, """"name"""": """"Loris Goulet"""", """"email"""": """"lgoulet@yandex.com""""}""",lg794
3,"""{""""backer_id"""": """"tb566"""", """"cf_id"""": 563, """"name"""": """"Teodora Brunelli"""", """"email"""": """"tbrunelli@outlook.com""""}""",tb566
4,"""{""""backer_id"""": """"lh506"""", """"cf_id"""": 563, """"name"""": """"Lexie Hunt"""", """"email"""": """"lhunt@live.com""""}""",lh506
...,...,...
8170,"""{""""backer_id"""": """"st581"""", """"cf_id"""": 65, """"name"""": """"Serita Thebault"""", """"email"""": """"sthebault@yandex.com""""}""",st581
8171,"""{""""backer_id"""": """"gf637"""", """"cf_id"""": 563, """"name"""": """"Glenn Foerstner"""", """"email"""": """"gfoerstner@yahoo.com""""}""",gf637
8172,"""{""""backer_id"""": """"rc983"""", """"cf_id"""": 1114, """"name"""": """"Robt Collin"""", """"email"""": """"rcollin@outlook.com""""}""",rc983
8173,"""{""""backer_id"""": """"cz381"""", """"cf_id"""": 65, """"name"""": """"Corina Zappa"""", """"email"""": """"czappa@outlook.com""""}""",cz381
8174,"""{""""backer_id"""": """"fg535"""", """"cf_id"""": 65, """"name"""": """"Freeman Gibbs"""", """"email"""": """"fgibbs@outlook.com""""}""",fg535

In [5]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
 1   backer_id    8175 non-null   object
dtypes: object(2)
memory usage: 127.9+ KB

In [6]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backer_df['cf_id'] = backer_df['backer_info'].str.extract('(?!:""cf_id"":)\s(\d+),')
backer_df

,backer_info,backer_id,cf_id
0,"""{""""backer_id"""": """"av166"""", """"cf_id"""": 968, """"name"""": """"Angelo Vincent"""", """"email"""": """"avincent@live.com""""}""",av166,968
1,"""{""""backer_id"""": """"ha127"""", """"cf_id"""": 563, """"name"""": """"Hubert Arnold"""", """"email"""": """"harnold@yandex.com""""}""",ha127,563
2,"""{""""backer_id"""": """"lg794"""", """"cf_id"""": 65, """"name"""": """"Loris Goulet"""", """"email"""": """"lgoulet@yandex.com""""}""",lg794,65
3,"""{""""backer_id"""": """"tb566"""", """"cf_id"""": 563, """"name"""": """"Teodora Brunelli"""", """"email"""": """"tbrunelli@outlook.com""""}""",tb566,563
4,"""{""""backer_id"""": """"lh506"""", """"cf_id"""": 563, """"name"""": """"Lexie Hunt"""", """"email"""": """"lhunt@live.com""""}""",lh506,563
...,...,...,...
8170,"""{""""backer_id"""": """"st581"""", """"cf_id"""": 65, """"name"""": """"Serita Thebault"""", """"email"""": """"sthebault@yandex.com""""}""",st581,65
8171,"""{""""backer_id"""": """"gf637"""", """"cf_id"""": 563, """"name"""": """"Glenn Foerstner"""", """"email"""": """"gfoerstner@yahoo.com""""}""",gf637,563
8172,"""{""""backer_id"""": """"rc983"""", """"cf_id"""": 1114, """"name"""": """"Robt Collin"""", """"email"""": """"rcollin@outlook.com""""}""",rc983,1114
8173,"""{""""backer_id"""": """"cz381"""", """"cf_id"""": 65, """"name"""": """"Corina Zappa"""", """"email"""": """"czappa@outlook.com""""}""",cz381,65
8174,"""{""""backer_id"""": """"fg535"""", """"cf_id"""": 65, """"name"""": """"Freeman Gibbs"""", """"email"""": """"fgibbs@outlook.com""""}""",fg535,65

In [7]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
 1   backer_id    8175 non-null   object
 2   cf_id        8175 non-null   object
dtypes: object(3)
memory usage: 191.7+ KB

In [8]:
# Extract the name from the backer_info column and add it as a new column called "name".
backer_df['name'] = backer_df['backer_info'].str.extract('(\w+\s\w+)')
backer_df

,backer_info,backer_id,cf_id,name
0,"""{""""backer_id"""": """"av166"""", """"cf_id"""": 968, """"name"""": """"Angelo Vincent"""", """"email"""": """"avincent@live.com""""}""",av166,968,Angelo Vincent
1,"""{""""backer_id"""": """"ha127"""", """"cf_id"""": 563, """"name"""": """"Hubert Arnold"""", """"email"""": """"harnold@yandex.com""""}""",ha127,563,Hubert Arnold
2,"""{""""backer_id"""": """"lg794"""", """"cf_id"""": 65, """"name"""": """"Loris Goulet"""", """"email"""": """"lgoulet@yandex.com""""}""",lg794,65,Loris Goulet
3,"""{""""backer_id"""": """"tb566"""", """"cf_id"""": 563, """"name"""": """"Teodora Brunelli"""", """"email"""": """"tbrunelli@outlook.com""""}""",tb566,563,Teodora Brunelli
4,"""{""""backer_id"""": """"lh506"""", """"cf_id"""": 563, """"name"""": """"Lexie Hunt"""", """"email"""": """"lhunt@live.com""""}""",lh506,563,Lexie Hunt
...,...,...,...,...
8170,"""{""""backer_id"""": """"st581"""", """"cf_id"""": 65, """"name"""": """"Serita Thebault"""", """"email"""": """"sthebault@yandex.com""""}""",st581,65,Serita Thebault
8171,"""{""""backer_id"""": """"gf637"""", """"cf_id"""": 563, """"name"""": """"Glenn Foerstner"""", """"email"""": """"gfoerstner@yahoo.com""""}""",gf637,563,Glenn Foerstner
8172,"""{""""backer_id"""": """"rc983"""", """"cf_id"""": 1114, """"name"""": """"Robt Collin"""", """"email"""": """"rcollin@outlook.com""""}""",rc983,1114,Robt Collin
8173,"""{""""backer_id"""": """"cz381"""", """"cf_id"""": 65, """"name"""": """"Corina Zappa"""", """"email"""": """"czappa@outlook.com""""}""",cz381,65,Corina Zappa
8174,"""{""""backer_id"""": """"fg535"""", """"cf_id"""": 65, """"name"""": """"Freeman Gibbs"""", """"email"""": """"fgibbs@outlook.com""""}""",fg535,65,Freeman Gibbs

In [9]:
# Extract the email from the backer_info column and add it as a new column called "email".
backer_df['email'] = backer_df['backer_info'].str.extract('(\w+@\w+)')
backer_df

,backer_info,backer_id,cf_id,name,email
0,"""{""""backer_id"""": """"av166"""", """"cf_id"""": 968, """"name"""": """"Angelo Vincent"""", """"email"""": """"avincent@live.com""""}""",av166,968,Angelo Vincent,avincent@live
1,"""{""""backer_id"""": """"ha127"""", """"cf_id"""": 563, """"name"""": """"Hubert Arnold"""", """"email"""": """"harnold@yandex.com""""}""",ha127,563,Hubert Arnold,harnold@yandex
2,"""{""""backer_id"""": """"lg794"""", """"cf_id"""": 65, """"name"""": """"Loris Goulet"""", """"email"""": """"lgoulet@yandex.com""""}""",lg794,65,Loris Goulet,lgoulet@yandex
3,"""{""""backer_id"""": """"tb566"""", """"cf_id"""": 563, """"name"""": """"Teodora Brunelli"""", """"email"""": """"tbrunelli@outlook.com""""}""",tb566,563,Teodora Brunelli,tbrunelli@outlook
4,"""{""""backer_id"""": """"lh506"""", """"cf_id"""": 563, """"name"""": """"Lexie Hunt"""", """"email"""": """"lhunt@live.com""""}""",lh506,563,Lexie Hunt,lhunt@live
...,...,...,...,...,...
8170,"""{""""backer_id"""": """"st581"""", """"cf_id"""": 65, """"name"""": """"Serita Thebault"""", """"email"""": """"sthebault@yandex.com""""}""",st581,65,Serita Thebault,sthebault@yandex
8171,"""{""""backer_id"""": """"gf637"""", """"cf_id"""": 563, """"name"""": """"Glenn Foerstner"""", """"email"""": """"gfoerstner@yahoo.com""""}""",gf637,563,Glenn Foerstner,gfoerstner@yahoo
8172,"""{""""backer_id"""": """"rc983"""", """"cf_id"""": 1114, """"name"""": """"Robt Collin"""", """"email"""": """"rcollin@outlook.com""""}""",rc983,1114,Robt Collin,rcollin@outlook
8173,"""{""""backer_id"""": """"cz381"""", """"cf_id"""": 65, """"name"""": """"Corina Zappa"""", """"email"""": """"czappa@outlook.com""""}""",cz381,65,Corina Zappa,czappa@outlook
8174,"""{""""backer_id"""": """"fg535"""", """"cf_id"""": 65, """"name"""": """"Freeman Gibbs"""", """"email"""": """"fgibbs@outlook.com""""}""",fg535,65,Freeman Gibbs,fgibbs@outlook

In [10]:
# Create a new DataFrame with the appropriate columns.
backer_extracted_df = pd.DataFrame()
backer_extracted_df['backer_id'] = backer_df['backer_id']
backer_extracted_df['cf_id'] = backer_df['cf_id']
backer_extracted_df['name'] = backer_df['name']
backer_extracted_df['email'] = backer_df['email']
backer_extracted_df

     backer_id cf_id              name              email
0        av166   968    Angelo Vincent      avincent@live
1        ha127   563     Hubert Arnold     harnold@yandex
2        lg794    65      Loris Goulet     lgoulet@yandex
3        tb566   563  Teodora Brunelli  tbrunelli@outlook
4        lh506   563        Lexie Hunt         lhunt@live
...        ...   ...               ...                ...
8170     st581    65   Serita Thebault   sthebault@yandex
8171     gf637   563   Glenn Foerstner   gfoerstner@yahoo
8172     rc983  1114       Robt Collin    rcollin@outlook
8173     cz381    65      Corina Zappa     czappa@outlook
8174     fg535    65     Freeman Gibbs     fgibbs@outlook

[8175 rows x 4 columns]

In [11]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_extracted_df.to_csv('Resources/backer_data.csv', encoding='utf8')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [12]:
# Check data types.
backer_extracted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [13]:
# Convert cf_id to an integer if necessa

backer_extracted_df['cf_id'] = pd.to_numeric(backer_extracted_df['cf_id'])
backer_extracted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [17]:
# Split the "name" column into "first_name" and "last_name" columns.


backer_extracted_df[['first_name','last_name']] = backer_extracted_df['name'].str.split(" ", n=1, expand=True)
backer_extracted_df

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook,Freeman,Gibbs

In [20]:
#  Drop the name column
backer_clean_df = backer_extracted_df.drop(['name'], axis=1)

# Reorder the columns
backer_final_df = backer_extracted_df[['backer_id','cf_id','first_name','last_name','email']]
backer_final_df

     backer_id  cf_id first_name  last_name              email
0        av166    968     Angelo    Vincent      avincent@live
1        ha127    563     Hubert     Arnold     harnold@yandex
2        lg794     65      Loris     Goulet     lgoulet@yandex
3        tb566    563    Teodora   Brunelli  tbrunelli@outlook
4        lh506    563      Lexie       Hunt         lhunt@live
...        ...    ...        ...        ...                ...
8170     st581     65     Serita   Thebault   sthebault@yandex
8171     gf637    563      Glenn  Foerstner   gfoerstner@yahoo
8172     rc983   1114       Robt     Collin    rcollin@outlook
8173     cz381     65     Corina      Zappa     czappa@outlook
8174     fg535     65    Freeman      Gibbs     fgibbs@outlook

[8175 rows x 5 columns]

In [21]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_final_df.to_csv('Resources/backers.csv', encoding='utf8')

In [22]:
backer_final_df

     backer_id  cf_id first_name  last_name              email
0        av166    968     Angelo    Vincent      avincent@live
1        ha127    563     Hubert     Arnold     harnold@yandex
2        lg794     65      Loris     Goulet     lgoulet@yandex
3        tb566    563    Teodora   Brunelli  tbrunelli@outlook
4        lh506    563      Lexie       Hunt         lhunt@live
...        ...    ...        ...        ...                ...
8170     st581     65     Serita   Thebault   sthebault@yandex
8171     gf637    563      Glenn  Foerstner   gfoerstner@yahoo
8172     rc983   1114       Robt     Collin    rcollin@outlook
8173     cz381     65     Corina      Zappa     czappa@outlook
8174     fg535     65    Freeman      Gibbs     fgibbs@outlook

[8175 rows x 5 columns]

In [23]:
backer_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   backer_id   8175 non-null   object
 1   cf_id       8175 non-null   int64
 2   first_name  8175 non-null   object
 3   last_name   8175 non-null   object
 4   email       8175 non-null   object
dtypes: int64(1), object(4)
memory usage: 319.5+ KB